<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li> <a href="{% url 'homepage' %}">Главная страница</a></li>
        <li> <a href="{% url 'profile' %}">Профиль</a></li>
        <li> <a href="{% url 'viewappointments' %}">Посмотреть записи</a></li>
        <li> <a href="{% url 'appointmentresult' %}">Положить в больницу</a></li>
        <li> <a href="{% url 'patinfo' %}">Информация о пациенте</a></li>
        <li> <a href="{% url 'hospitalstay' %}">Выписать из больницы</a></li>
        <li> <a href="{% url 'setshift' %}">Назначить на дежурство</a></li>
        <li> <a href="{% url 'statistic' %}">Статистика</a></li>
        <li> <a href="{% url 'logout' %}">Выход.</a></li>
    </ul>
</div>