<!DOCTYPE html>
<html>

<head>
    {% include 'include.html' %}
    {% load static %}
</head>

<body>
    <div id="wrapper">
        {% include 'doctor_sidenav.html' %}
        <div class="page-content-wrapper">
            <div class="container-fluid"><a class="btn btn-link" role="button" id="menu-toggle" href="#menu-toggle"><i class="fa fa-bars"></i></a>
                <h2 class="text-center">Текущие больничные</h2>
                <div class="text-center" role="tablist" id="accordion-1">
                    {% for i in hospitalstay %}
                    <ul class = "collapsible popout text-center" data-collapsible = "accordion">
                        <li class="card">
                            <div class = "card-header collapsible-header">
                                <h5 style="color:blue;"><a><i class="fa fa-calendar-check-o"></i>   имя пациента {{ i.patient }}; дата заселения {{ i.date_beg }}; в комнате № {{i.room_id}}</a></h5>
                            </div>
                            <div class = "card-body collapsible-body">
                                <table align="center" class="card-text" style="font-size: 19px;">
                                    <tr>
                                        <td>Пациент:</td>
                                        <td>{{i.patient}}</td>
                                    </tr>
                                    <tr>
                                        <td>Комната:</td>
                                        <td>{{i.room.id}}</td>
                                    </tr>
                                    <tr>
                                        <td>Болезнь:</td>
                                        <td>{{i.appointmentresult.disease.name}}</td>
                                    </tr>
                                    <tr>
                                        <td>Дата заселения:</td>
                                        <td>{{i.date_beg}}</td>
                                    </tr>
                                    <form method="post">
                                        {% csrf_token  %}
                                        <tr>
                                            <td><input type="hidden" value="{{i.id}}" name="idofhs"> </td>
                                            <td><input type="submit" class="btn btn-danger "value="Выписать"></td>
                                        </tr>
                                    </form>
                                </table>
                            </div>
                        </li>
                    </ul>
                    {% endfor %}
                </div>
                <h2 class="text-center"> Закрытые больничные </h2>
                <div class="text-center" role="tablist" id="accordion-1">
                    {% for i in hospitalstayc %}
                    <ul class = "collapsible popout text-center" data-collapsible = "accordion">
                        <li class="card">
                            <div class = "card-header collapsible-header">
                                <h5 style="color:blue;"><a><i class="fa fa-calendar-check-o"></i>   имя пациента {{ i.patient }}; дата заселения {{ i.date_beg }}; дата выписки {{ i.date_end }}в комнате № {{i.room_id}}</a></h5>
                            </div>
                            <div class = "card-body collapsible-body">
                                <table align="center" class="card-text" style="font-size: 19px;">
                                    <tr>
                                        <td>Пациент:</td>
                                        <td>{{i.patient}}</td>
                                    </tr>
                                    <tr>
                                        <td>Комната:</td>
                                        <td>{{i.room.id}}</td>
                                    </tr>
                                    <tr>
                                        <td>Болезнь:</td>
                                        <td>{{i.appointmentresult.disease.name}}</td>
                                    </tr>
                                    <tr>
                                        <td>Дата заселения:</td>
                                        <td>{{i.date_beg}}</td>
                                    </tr>
                                    <tr>
                                        <td>Дата выписки:</td>
                                        <td>{{i.date_end}}</td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                    </ul>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/back-to-top-scroll.js' %}"></script>
<script src="{% static 'js/Bold-BS4-Animated-Back-To-Top.js' %}"></script>
<script src="{% static 'js/bs-init.js' %}"></script>
<script src="{% static 'js/Sidebar-Menu.js' %}"></script>
</body>
</html>
